.btn-block {
  display: block;
  width: 100%;
  height: 32px;
  font-size: 14.5px;
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
}

.fade.in {
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  transform: translate(0,-25%);
  transition: transform .3s ease-out;
}

.modal.in .modal-dialog {
  transform: translate(0,0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; /* 纵向滑动 */
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop.in {
  opacity: .5;
}

.modal.fade .modal-dialog {
  transform: scale(.9);
  transition: transform .5s cubic-bezier(.32,.85,.45,1.18),width .3s;
}

.modal.in .modal-dialog {
  transform: scale(1);
}

/* 弹窗 body f04494 */
body {
  --theme-color: #ff6800;
  --focus-color: var(--theme-color);
  --main-color: #4e5358;
  --main-shadow: rgba(116, 116, 116, 0.08);
  --main-bg-color: #fff;
  --main-radius: 25px;
  --blur-bg: rgba(255, 255, 255, 0.75);
}

a:focus, a:hover {
  color: var(--focus-color);
  outline: 0;
  text-decoration: none;
}

.zib-widget {
  clear: both;
  background: var(--main-bg-color);
  padding: 15px;
  box-shadow: 0 0 10px var(--main-shadow);
  border-radius: var(--main-radius);
  margin-bottom: 20px;
}

.blur-bg {
  -webkit-backdrop-filter: saturate(5) blur(20px);
  backdrop-filter: saturate(5) blur(20px);
  background: var(--blur-bg);
}

.box-body, .padding {
  padding: 20px 20px 10px 20px;
}

.badg.radius, .but.radius, .radius>.but {
  border-radius: 50px;
  padding: .3em 1em;
}

.jb-blue, .jb-cyan, .jb-green, .jb-pink, .jb-purple, .jb-red, .jb-vip1, .jb-vip2, .jb-yellow {
  color: var(--this-color);
  background: var(--this-bg);
  --this-color: #fff;
  border: none;
}

.jb-red {
  --this-bg: linear-gradient(135deg, #fd7a64 10%, #fb2d2d 100%);
}

.jb-pink {
  --this-bg: linear-gradient(135deg, #ff5e7f 30%, #ff967e 100%);
}

.jb-yellow {
  --this-bg: linear-gradient(135deg, #f59f54 10%, #ff6922 100%);
}

.jb-blue {
  --this-bg: linear-gradient(135deg, #59c3fb 10%, #268df7 100%);
}

.jb-cyan {
  --this-bg: linear-gradient(140deg, #039ab3 10%, #58dbcf 90%);
}

.jb-green {
  --this-bg: #00CA00;
}

.jb-purple {
  --this-bg: linear-gradient(135deg, #f98dfb 10%, #ea00f9 100%);
}

.jb-vip1 {
  --this-bg: linear-gradient(25deg, #eabe7b 10%, #f5e3c7 70%, #edc788 100%);
  --this-color: #866127;
}

.jb-vip2 {
  --this-bg: linear-gradient(317deg, #4d4c4c 30%, #7b7b7b 70%, #5f5c5c 100%);
  --this-color: #ddd;
}

.title-h-center:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 3px;
  background: var(--theme-color);
  top: auto;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 3px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px -1px var(--theme-color);
  transition: 0.4s;
}

.title-h-center {
  position: relative;
  padding-bottom: 7px;
}

.title-h-center:hover:before {
  width: 100px;
}

/* 弹窗底部线 */
.separator {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #86868b;
  font-size: 14px;
}

.separator::after,
.separator::before {
  content: "";
  max-width: 23%;
  height: 1px;
  margin: 0 1em;
  flex: 1;
  background-color: rgba(128, 128, 128, 0.5);
}

/* 捐赠对话框开始 */
.donated, .donate {  
  display: flex;
  justify-content: center;
  align-items: center;
}

.donated img {
  max-width: 90%;
}

.donate img {
  max-width: 90%;
  transition: transform 0.5s ease-in-out;
}

.donate img:hover {
  transform: perspective(1000px) rotateY(90deg);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.5s ease-in-out;
  animation: none;
}
    
.tab-content>.tab-pane {
  display: none
}
    
.tab-content>.active {
  display: block
}
    
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flip-horizontal {
  animation: flipHorizontal 0.5s ease-in-out forwards;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(-90deg);
  opacity: 0;
}

@keyframes flipHorizontal {
  0% {
    transform: perspective(1000px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(1000px) rotateY(0deg);
    opacity: 1;
  }
}
/* 捐赠对话框结束 */

/* logo图片 */
.sign-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-logo img {
  max-width: 180px;
  max-height: 60px;
}

.popup-title {
  text-align: center;
  font-size: 19px;
  margin-top: -18px;
  margin-bottom: 5px;
  font-weight: 500;
  opacity: 0.9;
}

.update-desc {
  color: var(--update-desc);
}

.popup-content {
  text-align: center;
  font-size: 16px;
}

/** 头像呼吸光环旋转放大开始 **/
.avatarInfo {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  animation: light 4s ease-in-out infinite;
  margin-bottom: 10px;
  transition: 0.5s;
  width: 95px;
  height: 95px;
}

.avatar:hover {
  transform: scale(1.15) rotate(720deg);
}

@keyframes light {
  0% { box-shadow: 0 0 4px #f00; }
  25% { box-shadow: 0 0 16px #0f0; }
  50% { box-shadow: 0 0 4px #00f; }
  75% { box-shadow: 0 0 16px #0f0; }
  100% { box-shadow: 0 0 4px #f00; }
}
/** 头像呼吸光环旋转放大结束 **/

/** logo动画 **/
.interval {
  margin-top: 10px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-7.5px);
  }
}

.custom-img {
  width: 180px;
  height: 35px;
  margin-bottom: 3px;
  animation: fadeInUp 0.6s ease-in-out;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.custom-img:focus {
  animation: bounce 0.5s;
  animation-timing-function: ease-out;
  transform-origin: center bottom;
  outline: none;
}

@keyframes changeColor { /* 昵称 */
  0%, 100% { color: rgb(0, 128, 255); }
  20% { color: rgb(8, 0, 255); }
  40% { color: rgb(128, 0, 255); }
  60% { color: rgb(255, 0, 255); }
  80% { color: rgb(255, 0, 128); }
}

.rainbow-text {
  position: relative;
  font-weight: 500;
  font-size: 19px;
  animation: changeColor 3s linear infinite;
}
/* 彩色昵称结束 */

/* 预览的图片 */
.preview-img {
  display: block;
  padding: 10px 0 2px 0;
  margin: 0 auto;
  width: 355px;
  height: auto;
}

#scrollBox {
  width: 375px;
  height: auto; /* 177.8px */
  overflow: hidden;
  margin: 0 auto;
}

#scrollImg {
  width: 750px;
  height: auto;
  position: relative;
  -webkit-animation: scrollBox 10s linear infinite;
}

#scrollImg img {
  width: 355px;
  height: auto;
  padding: 8px 10px 5px 10px;
  float: left;
}

@keyframes scrollBox {
  0% {
    left: 0px;
  }
  25% {
    left: 0px;
  }
  50% {
    left: -375px;
  }
  75% {
    left: -375px;
  }
  100% {
    left: 0px;
  }
}

/* 提示框开始 */
.countdown {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-right: 8px;
  margin-bottom: 0.7px;
}

.countdown i {
  color: white;
  font-size: 18px;
  padding-top: 1.6px;
}

.svg-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-title {
  margin-left: 6px;
  font-size: 14px;
  color: #fff;
  justify-content: center;
  opacity: 0;
  animation: title 0.2s 0.25s ease-in-out forwards;
}

.circle {
  stroke: #fff;
  stroke-width: 1.2;
  stroke-linecap: round;
  fill: none;
  transform-origin: center;
  transform: rotate(-90deg);
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
  animation: circle 0.5s ease-in-out forwards;
}

.tick {
  stroke: #fff;
  stroke-width: 1.2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transform-origin: center;
  transform: translate(0.5px, 1px);
  stroke-dasharray: 18;
  stroke-dashoffset: 18;
  animation: tick 0.3s 0.5s ease-in-out forwards;
}

svg {
  width: 20px;
  height: 20px;
}

@keyframes circle {
  from {
    stroke-dashoffset: 94;
  }

  to {
    stroke-dashoffset: 188;
  }
}

@keyframes tick {
  from {
    stroke-dashoffset: 10;
    opacity: 1;
  }

  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

@keyframes title {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.popup {
  position: fixed;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1B9AF1;
  color: #fff;
  border-radius: 50px;
  padding: 10px;
  width: 130px;
  height: 20px;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: top 0.7s ease-in-out, opacity 0.5s ease-in-out;
}

.popup.show {
  top: 1.25%;
  opacity: 1;
}

.fd {
  animation: fd 0.15s ease-in-out;
}

@keyframes fd {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* 提示框结束 */

/* 遮罩层 */
.popup-mask {
  opacity: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* 抽屉菜单 */
.popup-container {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 100;
  transition: height 0.3s ease;
  overflow: hidden; /* 防止内容溢出 */
}

.popup-widget {
  clear: both;
  padding: 15px;
  border-radius: var(--main-radius);
  height: 260px;
}

/* App image */
.app-icon {
  width: 75px;
  height: 75px;
  border-radius: 15px;
  margin-bottom: 15px;
  object-fit: cover;
}
    
.app-desc {
  font-size: 14px;
  color: var(--desc-color);
  margin-bottom: 25px;
}

/* 打字动画 */
.chat-message {
  overflow: hidden;
  text-align: left;
  padding: 10px 30px;
  font-size: 16px;
}

.typing-indicator {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--typing-indicator);
  margin-left: 8px;
  vertical-align: middle;
  animation: typing-dot 0.4s infinite;
}

@keyframes typing-dot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/** 滑动卡片 **/
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 5px;
  max-width: 600px; /* 根据需要调整 */
  margin: 0 auto;  /* 居中容器 */
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.card-container::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}

.card {
  background-color: #555;
  border-radius: 15px;
  padding: 15px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  height: 135px;
  min-width: 93px;
  scroll-snap-align: start;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #F6D377;
  position: absolute;
  top: 15px;
}

.card span {
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.card p {
  color: #ccc;
  font-size: 12px;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
}

.card button {
  background-color: orange;
  color: white;
  padding: 2.8px;
  border: none;
  border-radius: 15px;
  margin-top: auto;
  width: 95%;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

/** 列表开始 **/
* {
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 70px 0 53px 0;
  -webkit-font-smoothing: antialiased;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  accent-color: var(--color-primary);
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background: #f2f2f7;
}

input {
  -webkit-user-select: auto;
  user-select: auto;
}

button {
  font-size: 16px;
  background: #0D82FF;
  color: #fff;
  font-weight: 500;
  border-radius: 25px;
  border: none;
  width: 100%;
  padding: 0.51em 0;
}

button .iconfont {
  margin-right: 6px;
}

.list {
  margin: 15px;
}

.list__2 {
  margin: 0px;
}

.el__header {
  padding: 0 20px;
  font-size: 13px;
  color: var(--list-header-color);
}

.el__header.with-negative-margin {
  margin-bottom: -12px;
}

.el__body {
  margin-top: 5px;
  margin-bottom: 30px;
  background: var(--card-background);
  border-radius: var(--card-radius);
  overflow: hidden;
}

.list__header {
  margin: 0 20px;
  font-size: 32px;
  font-weight: bold;
}

.list__body {
  margin-top: 18px;
  margin-bottom: 30px;
  background: var(--card-background);
  border-radius: var(--card-radius);
  overflow: hidden;
}

.custom-iframe {
  height: 0px;
}

/* list__2 图片尺寸 */
.formItems-label-img {
  width: 28px;
  height: 28px;
}

.form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  min-height: 2.3em;
  padding: 0.3em 20px;
  position: relative;
}

.form-item + .form-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  right: 0;
  border-top: 0.5px solid var(--divider-color);
}

.form-item .iconfont {
  margin-right: 0px;
}

.form-item input,
  .form-item select {
  font-size: 16px;
  text-align: right;
}

.form-item input[type="checkbox"] {
  width: 1.25em;
  height: 1.25em;
}

.form-item input select,
.form-item select {
  outline: none;
  font-size: 16px;
  border: var(--select);
  border-radius: 12px;
  padding: 3px 6px;
  text-align-last: right;
  white-space: nowrap; /* 防止换行 */
  overflow: hidden; /* 隐藏溢出 */
  background-color: var(--card-background);
  /* appearance: none; 原生外观 */
  /* width: auto; */
  /* text-overflow: ellipsis; 若文字超出，显示省略号 */
  /* -webkit-tap-highlight-color: transparent; 去除移动端点击背景 */
}

.icon-arrow_right {
  color: #86868b;
  font-size: 16px;
}

.form-item-right-desc {
  font-size: 16px;
  color: var(--desc-color);
  margin: 0 6px 0 auto;
  max-width: 100px;
  max-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: center;
}

.form-label {
  display: flex;
  align-items: center;
}

.form-label-img {
  height: 28.5px;
}

.form-label-title {
  margin-left: 13px;
}

input[type='number'] {
  outline: none;
  text-align: right;
  padding: 0 10px 0 0;
  padding-right: 4px;
  border: none;
  font-size: 17px;
  max-width: 80px;
  color: #3F86FF;
  background-color: transparent;
}

input[type="date"] {
  min-width: 6.4em;
}

input[type='checkbox'][role='switch'] {
  position: relative;
  display: inline-block;
  appearance: none;
  width: 46.6px;
  height: 28px;
  border-radius: 28px;
  background: var(--checkbox, #ddd);
  transition: 0.3s ease-in-out;
}

input[type='checkbox'][role='switch']::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
  transition: 0.3s ease-in-out;
}

input[type='checkbox'][role='switch']:checked {
  background: #34C759;
}

input[type='checkbox'][role='switch']:checked::before {
  transform: translateX(18.6px);
}

.actions {
  margin: 15px;
}

.copyright {
  margin: 15px;
  margin-inline: 18px;
  font-size: 12px;
  color: #86868b;
}

.copyright a {
  color: #515154;
  text-decoration: none;
}

/* 滑块折叠列表 */
.coll__body {
  background: var(--coll-color);
}

.collapsible-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  min-height: 2.3em;
  padding: 0.3em 20px;
  position: relative;
}

.collapsible-label-img {
  width: 28.5px;
  height: 28.5px;
}

.collapsible-value {
  font-size: 16px;
  width: 16px;
  color: #3F86FF;
  font-weight: 500;
}

.collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

.collapsible-content.show {
  max-height: 100%;
  transition: max-height 1.25s;
}

.collapsible-range {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.collapsible-range.show {
  max-height: 100%;
  transition: max-height 1.2s;
}

.icon-right-down {
  font-size: 12px;
  color: #86868b;
  margin: 0 5px;
}

.separ, 
.range-separ1, 
.range-separ2 {
  height: 0.5px;
  border: none;
  margin: 0.2px 0 0.2px 20px;
}

.separ {
  background-color: var(--separ);
}

.range-separ1 {
  background-color: var(--divider-color);
}

.range-separ2 {
  background-color: var(--divider-color-2);
}

input[type="range"] {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  height: 4px;
  background: var(--checkbox);
  border-radius: 8px;
  position: relative;
  margin: 0 15px 0 25px;
}

input[type="range"]::-webkit-slider-thumb {
  width: 25px;
  height: 25px;
}

input[type="range"]:before, .double-range-slider:before {  
  content: attr(data-value);
  display: block;
  font-size: 15px;
  position: absolute;
  top: -40px;
}

input[type="range"]:after {  
  content: '>';
  display: block;
  font-size: 16px;
  color: #86868b;
  position: absolute;
  top: -40px;
  right: 0;
}
/* 滑块折叠列表结束 */

.preview.loading {
  pointer-events: none;
}

.icon-loading {
  display: inline-block;
  animation: 1s linear infinite spin;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

/* dark */
@media (prefers-color-scheme: dark) {
  :root {
    --divider-color: rgba(84,84,88,0.65);  
    --divider-color-2: rgba(84,84,88,0.325);
    --card-background: #1c1c1e;
    --list-header-color: rgba(235,235,245,0.6);
    --checkbox: #454545;
    --select: 0 solid #000;
    --desc-color: hsl(0, 0%, 60%);
    --typing-indicator: #fff;
    --separ: #333;
    --coll-color: hsl(0, 0%, 6%);
    --update-desc: hsl(0, 0%, 85%);
  }
    
  .zib-widget {
    --blur-bg: rgba(50,51,53,0.8);
  }

  body {
    background: #000;
    color: #fff;
  }
}